*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#root{
    /* background:linear-gradient(to right,blue,lime); */

}

.box-outer{
    display: flex;
    /* flex-wrap: wrap; */
}
.box-outer img{
    padding: 5px;
    width: 200px;
    height: 43vh;
}
.box-inner .title{
    text-decoration: none;
    color: rgba(48, 133, 162, 0.671);
              
}
.menu{
    display: flex;

    justify-content: center;
    list-style: none;
    font-size: large;
    position: fixed;
}
.nav{
    left: 22vw;
    /* background-color: rgb(36, 40, 20); */
}
.menu li{
    background-color: aliceblue;
    padding: 5px 50px;
    
}
.active{
    text-decoration: none;
color: aqua;
}
.menu-item{
    text-decoration: none;
    transition: font-size 0.5s ease-in-out,transform 1s;
}
.menu-item:hover{
    font-size: 25px;
    transform: rotate(180deg)
}
.box-inner .title img:hover{
            
}
