* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box-outer {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.box-inner{
    padding: 10px;
}
.box-outer::-webkit-scrollbar {
  display: none;
}

.img-div {
  width: 250px;
  height: 300px;
  transition: all 0.3s;
}
.img-div img {
  border: 2px solid rgba(12, 77, 137, 0.461);
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.title {
  text-decoration: none;
  color: rgba(75, 161, 132, 0.927);
}
.img-div:hover {
  transform: scale(1.03);
}
.category {
  padding: 20px;
}
.single {
  display: flex;
  height: 89vh;
  background-color: #f7f7f7;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.single img {
  padding: 10px;
}

/* navbaar */
nav{
    background-color: rgba(82, 166, 250, 0.8);
    position: fixed;
    display: block;
    width: 100%;
    padding: 10px;
    top: 0;
    z-index: 99;
    align-items: center;
    transition: all 0.5s;
    
}

ul{
    display: flex;  
    list-style: none;
    padding: 5px;
    column-gap: 50px;
    text-decoration: none;

}

.active{
    color: rgb(245, 238, 245);
    font-size: large;
}
.book-container{
    position: relative;
    top: 40px;
}